#chart-type-container img {
    width: 100%;
    height: 150px;
}
#chart-filter-panel {
    display: none;
    margin-right: 10px;
    margin-top: -10px;
    float: right;
}
.calculated-time {
    border: 1px solid #aaa; margin-top: 10px; margin-bottom: 10px;
    border-radius: 3px;
    padding: 10px 15px;
    height: 40px;
}
.time-range-catetory {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
#time-range > div {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}