#chart-type-container img {
    width: 100%;
    height: 150px;
}
#chart-filter-panel {
    display: none;
}
.calculated-time {
    border: 1px solid #aaa; margin-top: 10px; margin-bottom: 10px;
    border-radius: 3px;
    padding: 10px 15px;
    height: 40px;
}
.time-range-catetory {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}